@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/MoCS_logo.png" />
    <p class="lead">Masters of C# is a programming tournament framework. It is based on the Masters of Java (MoJ) tournament framework. </p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started playing in a tournament, go to '@Html.ActionLink("My tournaments", "Index", "Tournaments")'.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Tournaments")">My tournaments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manuals</h2>
        <p>If you're .NET developer with some knowledge of unit tests, playing in a Masters of C# tournament should be pretty straight forward.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Manuals")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Score board</h2>
        <p>bla score board bla bla</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Scoreboard")">Score board &raquo;</a></p>
    </div>
</div>