@using Microsoft.AspNet.Identity
@model IEnumerable<MoCS.Data.Entity.Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>@ViewBag.Title</h2>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Tournament</th>
            <th>no. of assignments</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var tournament in Model)
    {
        <tr>
            <td>@tournament.Name</td>
            <td>@tournament.TournamentAssignments.Count()</td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("Delete", "Tournaments", new { id = tournament.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="@Url.Action("Edit", new { id =  tournament.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil" title="Edit this tournament"></span></a>
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this tournament?');" class="btn btn-default btn-sm" title="Delete this tournament"><span class="glyphicon glyphicon-remove" title="Delete this tournament"></span></button>
                    }
                }
            </td>
        </tr>
    }
</table>
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Add")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Add tournament</a>
}